.wrapDom {
  position: relative;
  width: 375px;
  height: 500px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: url("/back.jpg") no-repeat;
  background-size: 125% 125%;
  overflow: hidden;
}

.gyroController {
  position: relative;
  padding: 10px;
}
